.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  position: relative;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--sb-theme-color);
}

.modal-content {
  font-size: 1rem;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: var(--sb-theme-color);
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px 8px;
}
svg path {
  fill: var(--sb-theme-color);
}
.modal-title-content {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
