.gameboard {
  /* background-color: #fff; */
  padding: 2rem;
  box-shadow:
    12px 12px var(--sb-theme-color),
    0 0 10px var(--sb-theme-color);

  border: 2px solid var(--sb-theme-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin: 22px auto;
}
